<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập trang quản trị</title>
</head>
<style>
    .form-control{
        display: block;
        width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .form-control input{
        width: 100%;
        font-size: 16px;
        padding: 10px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .form-control button{
        width: calc(100% + 20px);
        font-size: 16px;
        padding: 10px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #ccc;
    }
</style>
<body>
    <h1 style="text-align: center;">Admin</h1>
    <form action="/login_activity" method="POST" class="form-control">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Đăng nhập</button>
        <a href="/"><button class="btn" type="button">Quay lại trang tra cứu</button></a>
    </form>
</body>
</html>